
@font-face { 
  font-family: 'Proxima';
  font-style: normal;
  font-weight: normal;
  src: url('ProximaNova-Regular.otf') format('truetype');
}  

@font-face {
  font-family: 'Proxima';
  font-style: normal;
  font-weight: bold;
  src: url('ProximaNova-Semibold.otf') format('truetype');
}

@font-face {
  font-family: 'Proxima';
  font-style: normal;
  font-weight: light;
  src: url('ProximaNova-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Proxima';
  font-style: normal;
  font-weight: 100;
  src: url('ProximaNova-Thin.ttf') format('truetype');
}




// Colors
//
// Grayscale and brand colors for use across Bootstrap

$gray-dark : #373a3c !default;
$gray : #55595c !default;
$gray-light : #818a91 !default;
$gray-lighter : #eceeef !default;
$gray-lightest : #F0F0F0 !default;
 
$brand-primary : #f47e43;
$brand-success : #5cb85c !default;
$brand-info : $gray;
$brand-warning : #f0ad4e !default;
$brand-danger : #d9534f !default;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-flex : false !default;
$enable-rounded : true !default;
$enable-shadows : false !default;
$enable-gradients : false !default;
$enable-transitions : false !default;
$enable-hover-media-query : false !default;
$enable-grid-classes : true !default;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.

$spacer : 1rem !default;
$spacer-x : $spacer !default;
$spacer-y : $spacer !default;
$border-width : 1px !default;


// Body
//
// Settings for the `<body>` element.
 
$body-bg : white;
$body-color : #373a3c !default;


// Links
//
// Style anchor elements.

$link-color : $brand-primary !default;
$link-decoration : none !default;
$link-hover-color : darken($link-color, 15%) !default;
$link-hover-decoration : underline !default;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif : "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif : Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace : Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base : Proxima;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root : 16px !default;

$font-size-base : 1rem !default;
$font-size-lg : 1.25rem !default;
$font-size-sm : .875rem !default;
$font-size-xs : .75rem !default;

$headings-font-family : Proxima;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths : (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1240px 
) !default;



@import 'bootstrap';
@import 'pingendo-bootstrap';


body {
  max-width: 1700px;
  margin:auto;
  position:relative;
}


#photos .container     {
  max-width : 940px;
}

html     {
  height : 100%;
  background-color: #b8c1c3;
  font-weight : normal !important;
}

.lead {
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

.section .background-video           {
  object-position : center left !important;
}

.section .background-video-holder:after {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height: 100%;
  content: url(#);
  background-color: rgba(255,0,0,0.2);
}


.section-fill-height           {
  max-height : 80%;
}

.sticky           {
	position : -webkit-sticky;
  position : sticky;
  top : 0px;
}
 

.navbar-brand           {
	position : relative;
  top : 0px;
}

.navbar.bg-inverse           {
  background : linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  position : absolute;
  z-index : 1;
  width : 100%;
}

.navbar .nav img           {
  height : 36px;
}


img.grayscale       {
  filter : url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter : gray;
  -webkit-filter : grayscale(100%);
}

img.grayscale:hover       {
  filter : none;
  -webkit-filter : grayscale(0%);
}

.noscroll     {
  overflow : hidden;
}


.trello img      {
  cursor : zoom-in;
}



.go-top       {
  display : block;
  line-height : 30px;
  text-align : center;
  font-size : 20px;
  position : fixed;
  bottom : -40px;
  right : 20px;
  padding : 5px;
  -webkit-transition : all 0.5s ease;
  -moz-transition : all 0.5s ease;
  -o-transition : all 0.5s ease;
  transition : all 0.5s ease;
  background-color : #404040;
  color : #FFFFFF;
  text-decoration : none;
  -moz-border-radius : 2px;
  -webkit-border-radius : 2px;
  border-radius : 2px;
}

.go-top.show       {
 bottom : 20px;
}

.go-top:hover, .go-top:focus       {
  background-color : #404040;
  color : #FFFFFF;
}

.gray     {
  background-color : #373a3c;
  color : white;
}

#persone .card     {
  overflow: hidden;

  .card-block {
		position: absolute;
    z-index:100;
    bottom: -20px;
    color: white;
    width: 100%;
  background : linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 70%);

  }
}



.full-screen       {

  z-index : 100000;
  position : fixed;
  top : 0px;
  left : 0px;
  width : 100%;
	background-color : white;
  overflow-y : scroll;
  height : 100%;

  > .btn-group {
    position: fixed;
    top: 10px; 
    right: 1px;
  }
  
  .dropdown-menu-right {
    right: -90px;
	}
  
  img { 
    cursor: zoom-out;
    width:100%;
  }
}

.modal-content {
  background-color: $gray-dark;
  
  .lead {
    line-height: 200%
  }  
}

.modal-header img {
    height: 25px;
  }


hr.light {
  height: 1px;
background-color: gray;
border: none;
}